<h1>Admin</h1>

<div deckgrid class="deckgrid" source="stories">
    <div class="photo">
        <div class="photo-wrapper" ng-click="mother.photoClicked(card)">
            <img class="smallpersona" width="50" src="{{card.imageURL}}" >
            <i class="fa fa-times pull-right" ng-click="mother.delete(card)"></i>
            <button ng-show="card.deleteMode===true"
                    class="btn btn-mini btn-primary"
                    ng-click="mother.actuallyDelete(card)">Delete</button>
        </div>
        <b>{{card.name}}</b><br/>
        <i>{{card.summary}}</i><p/>
        {{card.text}}
    </div>
</div>