<div class="mainheadlinewrapperpage wrapper100percent startAnimation animated" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mainheadlinepage">
                    <h1>Admin<br>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper100percent marginbottom4 startAnimation animated" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="pageContent">

                    <div class="container">
                        <table><tr><td>
                            <button class="btn btn-primary" ng-disabled="adminStatus.locked===true" ng-click="lockBoard()">Lock Board</button>
                        &nbsp;</td><td>
                            <button class="btn btn-primary" ng-disabled="adminStatus.locked===false" ng-click="unlockBoard()">Unlock Board</button>
                        &nbsp;</td><td>Header: <input class="form-control" type="text" placeholder="Header" ng-model="adminStatus.header"/>
                        </td><td>&nbsp;</td><td>Message: <input class="form-control" type="text" placeholder="Contents" ng-model="adminStatus.message"/>
                        </td><td>
                            &nbsp;<button class="btn btn-primary" ng-click="updateHeaderAndMessage()">Update header and message</button>
                        </td></tr></table>

                        <div deckgrid class="deckgrid" source="stories">
                            <div class="photo">
                                <div class="photo-wrapper">
                                    <img class="smallpersona" width="50" src="{{card.imageURL}}">
                                    <i class="fa fa-times pull-right" ng-click="mother.delete(card)"></i>
                                    <button ng-show="card.deleteMode===true"
                                            class="btn btn-mini btn-primary"
                                            ng-click="mother.actuallyDelete(card)">Delete
                                    </button>
                                </div>
                                <b>{{card.name}}</b><br/>
                                <i>{{card.summary}}</i>

                                <p/>
                                {{card.text}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
