<div class="mainheadlinewrapperpage wrapper100percent startAnimation animated" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mainheadlinepage">
                    <h1>{{adminStatus.header}}<br>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper100percent marginbottom4 startAnimation animated" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="pageContent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-12">
                               <h4>{{adminStatus.message}}</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
