<div class="container">
  <div class="row">
          <form class="form-signin">
            <h2 class="form-signin-heading">Let's share <button class="btn btn-info" ng-click="googleauth()">Google sign-in</button></h2>
            <label for="inputUsername" class="sr-only">Your name</label>
            <input type="text" id="inputUsername" class="form-control"
              placeholder="Full Name" required="" autofocus="" ng-model="username"/>

              <p/>

            <input type="text" id="summary" class="form-control"
              placeholder="One line summary of story" required="" autofocus="" ng-model="summary"/>&nbsp;<p/>

              <label for="story" class="sr-only">Your story</label>
            <textarea id="story" class="form-control storyBox" placeholder="Your story. Think of a time when DA really came alive for you." ng-model="story"></textarea>&nbsp;<p/>
            <span ng-show="storiesLoaded===false">Loading...</span>
            <button ng-show="storiesLoaded===true" class="btn btn-lg btn-primary" type="submit"
              ng-click="submitStory(username, summary, story);"
              ng-disabled="summary === '' || story === ''">
                <span ng-show="storiesLoaded===true">Submit</span>
            </button>&nbsp;&nbsp;<button ng-show="storiesLoaded===true" class="btn btn-lg btn-primary"
              ng-click="cancel()"
              ng-disabled="summary === '' || story === ''">
                <span ng-show="storiesLoaded===true">Cancel</span>
            </button>
          </form>

  </div>
</div>
