
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

body {
    background:rgba(0, 0, 0, .04);
    font-family: 'Open Sans', sans-serif;
    padding-bottom:50px;
}

a {
    color:#000;
    text-decoration:none;
}

a:visited {
    color:rgba(0, 0, 0, .5);
}

h1 {
    font-size:320%;
    margin-bottom:30px;
}

h2 {
    opacity:.8;
}

p {
    font-size:80%;
    opacity:.5;
}

h1, h2, h3, h4 {
    font-weight:100;
    margin:0;
    padding:0;
}



@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    /* iPhone 5 portrait*/
    .form-control.storyBox {
        height:10em;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    /* iPhone 5 landscape*/
    .form-control.storyBox {
        height:6em;
    }

}

@media only screen
and (min-device-width : 800px) {
    .form-control.storyBox {
        height:20em;
    }

}

.persona {
    width: 70px;
    margin-top: 25px;
}

.summaryBox {
    margin-top: 20px;
}